/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.remove-focus-outline:focus {
    @apply outline-0;
}

.scroll-shadows-y {
    scrollbar-width: none;
    -ms-overflow-style: none;

    background:
        /* Shadow Cover TOP */
        linear-gradient(
            white 30%,
            rgba(255, 255, 255, 0)
        ) center top,
    
        /* Shadow Cover BOTTOM */
        linear-gradient(
            rgba(255, 255, 255, 0), 
            white 70%
        ) center bottom,
    
        /* Shadow TOP */
        radial-gradient(
            farthest-side at 50% 0,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
        ) center top,
    
        /* Shadow BOTTOM */
        radial-gradient(
            farthest-side at 50% 100%,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0)
        ) center bottom;
  
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
}

.scroll-shadows-y::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-shadows-x {
    scrollbar-width: none;
    -ms-overflow-style: none;

    background:
        /* Shadow Cover LEFT */
        linear-gradient(
            to right,
            white 30%,
            rgba(255, 255, 255, 0)
        ) left center,
    
        /* Shadow Cover RIGHT */
        linear-gradient(
            to right,
            rgba(255, 255, 255, 0), 
            white 70%
        ) right center,
    
        /* Shadow LEFT */
        radial-gradient(
            farthest-side at 0% 50%,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
        ) left center,
    
        /* Shadow RIGHT */
        radial-gradient(
            farthest-side at 100% 50%,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
        ) right center;
  
    background-repeat: no-repeat;
    background-size: 40px 300%, 40px 300%, 14px 300%, 14px 300%;
    background-attachment: local, local, scroll, scroll;
}

.scroll-shadows-x::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.no-scroll-bar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.no-scroll-bar::-webkit-scrollbar {
    height: 0;
}


*:disabled {
    @apply cursor-not-allowed;
}

